/* color palette
gainsboro: #dcdcdc
red I like #E82F0C*/



body{
    background: #E82F0C;
    
    margin: 10px;
    
    padding: 5px;
}

ul{
    display: flex;
    
    justify-content: space-around;
    
    list-style: none;
    
    background-color: #000000;
    
    align-items: center;
    
    font-family: 'Shadows Into Light', cursive;
}

/* this needs some work*/
li{
    border: 5px solid #E82F0C;
    padding: 15px;
    
    border-radius: 15px;
}

section{
    border: 5px solid  #000000;
        
    border-radius: 10px    
}

a{
    text-decoration: none
    color: #000000    
}

nav a{
    color: #E82F0C;
    
    text-decoration: none;
    
  
}

p {
    font-family: 'Noto Sans JP', sans-serif;
}

/*nav{
    display: flex;
    align-content: center;
}*/


h1{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    text-shadow: 4px 4px 4px #aaa;
}

h2{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    text-shadow: 4px 4px 4px #aaa;
}

P{
    margin: 15px;
}



.bio{
    
    background: #dcdcdc;
    
    margin-top: 5px
    
    
    
    /*background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN8FdOWaVnG61d4D9AQ-Xcay6K4O2pTEhJHnKN9CTWRn347pMC);
        
    background-repeat: no-repeat;
    
    background-size:contain;*/
}


.biopics{
    display: flex; 
    
    justify-content: center;
    
    align-content: space-around;

}

/*.biopics figure{
    flex-grow: 1;
}*/

.biopics img {
    width: 100%;
}


.podcast{
      
    
    background: #dcdcdc; 
    
    margin-top: 5px;
}



.podvids{
    display: flex;
    justify-content: space-around
}

.podplayer{
    width 100%
}

.comics{
    background: #dcdcdc;
    margin-top: 5px;
}

.comicpics{
    display: flex;
    justify-content: space-around
}

.othermedia{
    background: #dcdcdc;
    
    margin-top: 5px;
}

.othermediavids{
    display: flex;
    justify-content: space-around;
}

figcaption{
    text-align: center
}

.fa-reddit {
  background: #ff5700;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}